
html,
body {
    height: 100%;
}

body {
    
    background-color: #635F61;
}

/********************************************************************************************
 *   light bluish gray #a3a2a4
 *   dark bluish gray #635f61
 *   orange #fe8a18 
 *                                                                                          *
*********************************************************************************************/

.navbar {
    background-color: #203A56; /* Sets Nav bar background color */
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 100%;
    z-index: 1;
}

.navbar ul li {
    background-color: #203A56; /* Sets Nav bar background color */
    background: #203A56;
}

.navbar ul li a {
    background-color: #203A56; /* Sets Nav bar background color */
    background: #203A56;
}

.navbarcolor {
    background-color: #203A56; /* Sets Nav bar background color */
}

#navbarcolor li a {
    background-color: #203A56; /* Sets Nav bar background color */
    color: #a3a2a4;
}

#navbarcolor li a:hover {
    background-color: #FE8A18;
    color: #635F61;
}

.box {
    background-color: #a3a2a4;
    border-radius: 25px;
    padding: 25px;
    overflow: hidden;
}

.boxparent {
    padding: 5px;
}

div.row-margin {
    margin: 25px !important;
}

.round {
    border-radius: 50%;
}

.CenterP {
    position: relative;
    height: 300px;
}

.MissionStatement {
    text-align: center;
    vertical-align: middle;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%)
}

.PortfolioText {
    background-color: #a3a2a4;
}

.PortfolioBox>a {
    background-color: #203A56;
}

.PortfolioText>h3 {
    text-align: center;
}

.navbar-inverse:hover .navbar-brand:hover { 
    color: #FE8A18; /* Sets Nav bar text hover title color */
}

.navbar-inverse:hover .navbar-nav>li>a:hover {
    color: #FE8A18; /* Sets right nav bar nemu options hover text color */
}

.panel-default {
    border-color: #635F61;
}

.panel-default>.panel-heading {
    background-color: #FE8A18;
    border-color: #635F61;
}

.panel-default>.panel-body {
    background-color: #a3a2a4;
    border-color: #635F61;
}

.img-portfolio {
    margin-bottom: 30px;
}

.img-hover:hover {
    opacity: 0.8;
}

.page-header {
    color: #a3a2a4;
}

p {
    color: #a3a2a4;
}

li {
    color: #635F61;
}

hr {
    color: #a3a2a4;
}

.clearer { clear: both; }

.sidebar {
    top: 0px;
    left: 0px;
    width: 5rem;
    height: 100%;
    float: left;
    background-color: #203A56;
    position: absolute;
}

.sidebar>a {
    width: 50px;
    height: 50px;
    text-align: center;
}

.sidebar>a>i {
    width: 80px;
    height: 80px;
    padding: 5px;
    margin-bottom: 5px;
    text-align: center;
    color: #a3a2a4;
}

.sidebar>a>i:hover {
    color: #FE8A18;
    background-color: #635F61
}

.submenu {
    top: 0px;
    left: 5rem;
    width: 5rem;
    height: 100%;
    float: left;
    background-color: #a3a2a4;
    position: absolute;
}

.submenu>a>i {
    width: 80px;
    height: 20px;
    padding: 5px;
    margin-bottom: 5px;
    text-align: center;
    color: #203A56;
}

.submenu>a>i:hover {
    color: #FE8A18;
    background-color: #635F61
}