{% extends "baseFoundation.html" %}

{% block Title %}About{% endblock %}

{% block body %}
    <div class="row box">
        <div class="row">
            <div class="small-3 small-centered columns centerP">
                 <img src="{{ url_for('static', filename='pictures/img.png')}}" class="ProfilePic round">
            </div>
        </div>
        <div class="row">
            <div class="medium-6 columns">
                <ul>
                    <li>test 1</li>
                    <li>test 2</li>
                    <li>test 3</li>
                    <li>test 4</li>
                    <li>test 5</li>
                </ul>
            </div>
            <div class="medium-6 columns">
                <ul>
                    <li>test 1</li>
                    <li>test 2</li>
                    <li>test 3</li>
                    <li>test 4</li>
                    <li>test 5</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}