<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en">
<head>
<meta charset="utf-8">
 
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{% block Title %}{% endblock %}</title>
 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.3/css/normalize.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.3/css/foundation.min.css">
<link href='http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css' rel='stylesheet' type='text/css'>
<link href="{{ url_for('static', filename='css/justinsiebert.css')}}" rel="stylesheet">

<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">

<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>


<script>
    function testFunc(element){
        document.getElementById("test").innerHTML = " test is stupid lalalalalalalalalalala" + element;
    }
</script>



</head>
<body>
    <div>
        <div class="sidebar">
            <a href="#" class="list-group-item" id="home"><i class="fa fa-home fa-4x"></i></a>
            <a href="#" class="list-group-item" id="messages"><i class="fa fa-envelope fa-4x"></i></a>
            <a href="#" class="list-group-item" id="lego"><i class="fa fa-th-large fa-4x"></i></a>
            <a href="#" class="list-group-item" id="programs"><i class="fa fa-code fa-4x"></i></a>
            <a href="#" class="list-group-item" id="stats"><i class="fa fa-area-chart fa-4x"></i></i></a>
            <a href="#" class="list-group-item" id="blog"><i class="fa fa-pencil-square-o fa-4x"></i></i></a>
        </div>
        <div class="submenu" id="submenu">
            <a href="#" class="list-group-item" id="home"><i class="fa fa-home fa-lg"> test 1</i></a>
            <a href="#" class="list-group-item" id="messages"><i class="fa fa-envelope fa-lg"> test 2</i></a>
            <a href="#" class="list-group-item" id="lego"><i class="fa fa-th-large fa-lg"> test 3</i></a>
            <a href="#" class="list-group-item" id="programs"><i class="fa fa-code fa-lg"> test 4</i></a>
            <a href="#" class="list-group-item" id="stats"><i class="fa fa-area-chart fa-lg"> test 4</i></i></a>
            <a href="#" class="list-group-item" id="blog"><i class="fa fa-pencil-square-o fa-lg"> test 5</i></i></a>
        </div>
    </div>
    
    
<p id="test">hello this is a test of jave script and other things</p>
 <!--       {% block body %}{% endblock %}


<footer class="row">
    <div class="large-12 columns">
        <hr>
        <div class="row">
            <div class="large-6 columns">
            <p>Copyright &copy; Justin Siebert 2015 - <a href="{{ url_for('.admin') }}">Admin</a></p>
            </div>
        </div>
    </div>
</footer>-->
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.3/js/foundation.min.js"></script>
<script src="{{ url_for('static', filename='js/justinsiebert.js')}}"></script>
<script>
    $(document).foundation();
</script>
</body>
</html>
