{% extends "baseFoundation.html" %}

{% block Title %}About{% endblock %}

{% block Main %}

<!-- Page Content -->
    <div class="container">
        <!-- Features Section -->
        <div class="row">
            <div class="col-lg-12 background-box">
                <div class="col-md-6">
                    <div class="imagediv"><img class="image" src="static/pictures/CircleMe.png"></div>
                </div>
                <div class="col-md-6 vision">
                    <h2>I desire to use my technical and leadership skills to make software that empowers people to reach their potential.</h2>
                </div>
            </div>
        </div>
        <!-- /.row -->
        <!-- Marketing Icons Section -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Programming
                </h1>
            </div>
            <div class="col-lg-12">
                <div class="col-md-4 card">
                    <div class="innercard"><h3>Program</h3></div>
                </div>
                <div class="col-md-4 card">
                    <div class="innercard"><h3>Program 1</h3></div>
                </div>
                <div class="col-md-4 card">
                    <div class="innercard"><h3>Program 1</h3></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    LEGO
                </h1>
            </div>
            <div class="col-lg-12">
                <div class="col-md-4 card">
                    <div class="innercard"><h3>Program</h3></div>
                </div>
                <div class="col-md-4 card">
                    <div class="innercard"><h3>Program</h3></div>
                </div>
                <div class="col-md-4 card">
                    <div class="innercard"><h3>Program</h3></div>
                </div>
            </div>
        </div>

{% endblock %}