{% extends "base.html" %}
{% block title %}CE Ping-Pong{% endblock %}


{% block body %}
    <div class="row">
        <div class="large-12 columns">

        </div>
    </div>
    <hr>
    <div class="row">
        <div class="large-12 columns">
            <div class="large-4 columns">
                test 1
            </div>
            <div class="large-4 columns">
                test 2
            </div>
            <div class="large-4 columns">
                test 3
            </div>
        </div>
    </div>
{% endblock %}